In [32]:
import pandas as pd
import numpy as np

In [33]:
file_name0= 'pitchers_2020.csv'
file_name1= 'pitchers_2021.csv'
file_name2= 'pitchers_2022.csv'
file_name3= 'pitchers_2023.csv'
file_name4= 'pitchers_2024.csv'

DF0=pd.read_csv(file_name0, sep=',')
DF1=pd.read_csv(file_name1, sep=',')
DF2=pd.read_csv(file_name2, sep=',')
DF3=pd.read_csv(file_name3, sep=',')
DF4=pd.read_csv(file_name4, sep=',')

In [34]:
# 데이터 변환및 처리 ->필요없는 데이터 삭제
DF0.drop(columns=[ 'ab', 'pa', 'walk','batting_avg', 'on_base_percent', 'on_base_plus_slg'], inplace=True)
DF1.drop(columns=[ 'ab', 'pa', 'walk','batting_avg', 'on_base_percent', 'on_base_plus_slg'], inplace=True)
DF2.drop(columns=[ 'ab', 'pa', 'walk','batting_avg', 'on_base_percent', 'on_base_plus_slg'], inplace=True)
DF3.drop(columns=[ 'ab', 'pa', 'walk','batting_avg', 'on_base_percent', 'on_base_plus_slg'], inplace=True)
DF4.drop(columns=[ 'ab', 'pa', 'walk','batting_avg', 'on_base_percent', 'on_base_plus_slg'], inplace=True)

In [35]:
DF0.info(), print(DF0.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   last_name, first_name  101 non-null    object
 1   player_id              101 non-null    int64
 2   year                   101 non-null    int64
 3   player_age             101 non-null    int64
 4   p_game                 101 non-null    int64
 5   p_formatted_ip         101 non-null    float64
 6   hit                    101 non-null    int64
 7   home_run               101 non-null    int64
 8   strikeout              101 non-null    int64
 9   k_percent              101 non-null    float64
 10  slg_percent            101 non-null    float64
 11  p_earned_run           101 non-null    int64
 12  p_out                  101 non-null    int64
 13  p_win                  101 non-null    int64
 14  p_loss                 101 non-null    int64
 15  p_era                  101 non-null    float64
 16  p_quality_start        101 non-null    int64
 17  woba                   101 non-null    float64
 18  z_swing_percent        101 non-null    float64
 19  z_swing_miss_percent   101 non-null    float64
 20  oz_swing_miss_percent  101 non-null    float64
 21  out_zone_percent       101 non-null    float64
 22  n                      101 non-null    int64
 23  fastball_avg_speed     101 non-null    float64
dtypes: float64(10), int64(13), object(1)
memory usage: 19.1+ KB
Index(['last_name, first_name', 'player_id', 'year', 'player_age', 'p_game',
       'p_formatted_ip', 'hit', 'home_run', 'strikeout', 'k_percent',
       'slg_percent', 'p_earned_run', 'p_out', 'p_win', 'p_loss', 'p_era',
       'p_quality_start', 'woba', 'z_swing_percent', 'z_swing_miss_percent',
       'oz_swing_miss_percent', 'out_zone_percent', 'n', 'fastball_avg_speed'],
      dtype='object')

(None, None)

In [36]:
# 데이터 변환및 처리 ->컬럼 한국어로 변환
DF0.columns=['이름', 'id', '연도', '나이', '경기수', '총이닝수' ,'타격_허용수', '홈런수', '삼진횟수', '삼진비율',
            '장타 허용율', '총자책점', '총아웃수', '승', '패', '평균자책점', 'qs횟수', '진루허용율', '스트라이크_스윙_비율', '스트라이크_헛스윙_비율','볼_헛스윙_비율', '볼_비율', '총투구수', '직구평균속도' ]
DF1.columns=['이름', 'id', '연도', '나이', '경기수', '총이닝수' ,'타격_허용수', '홈런수', '삼진횟수', '삼진비율',
            '장타 허용율', '총자책점', '총아웃수', '승', '패', '평균자책점', 'qs횟수', '진루허용율', '스트라이크_스윙_비율', '스트라이크_헛스윙_비율','볼_헛스윙_비율', '볼_비율', '총투구수', '직구평균속도' ]
DF2.columns=['이름', 'id', '연도', '나이', '경기수', '총이닝수' ,'타격_허용수', '홈런수', '삼진횟수', '삼진비율',
            '장타 허용율', '총자책점', '총아웃수', '승', '패', '평균자책점', 'qs횟수', '진루허용율', '스트라이크_스윙_비율', '스트라이크_헛스윙_비율','볼_헛스윙_비율', '볼_비율', '총투구수', '직구평균속도' ]
DF3.columns=['이름', 'id', '연도', '나이', '경기수', '총이닝수' ,'타격_허용수', '홈런수', '삼진횟수', '삼진비율',
            '장타 허용율', '총자책점', '총아웃수', '승', '패', '평균자책점', 'qs횟수', '진루허용율', '스트라이크_스윙_비율', '스트라이크_헛스윙_비율','볼_헛스윙_비율', '볼_비율', '총투구수', '직구평균속도' ]
DF4.columns=['이름', 'id', '연도', '나이', '경기수', '총이닝수' ,'타격_허용수', '홈런수', '삼진횟수', '삼진비율',
            '장타 허용율', '총자책점', '총아웃수', '승', '패', '평균자책점', 'qs횟수', '진루허용율', '스트라이크_스윙_비율', '스트라이크_헛스윙_비율','볼_헛스윙_비율', '볼_비율', '총투구수', '직구평균속도' ]


DF0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   이름            101 non-null    object
 1   id            101 non-null    int64
 2   연도            101 non-null    int64
 3   나이            101 non-null    int64
 4   경기수           101 non-null    int64
 5   총이닝수          101 non-null    float64
 6   타격_허용수        101 non-null    int64
 7   홈런수           101 non-null    int64
 8   삼진횟수          101 non-null    int64
 9   삼진비율          101 non-null    float64
 10  장타 허용율        101 non-null    float64
 11  총자책점          101 non-null    int64
 12  총아웃수          101 non-null    int64
 13  승             101 non-null    int64
 14  패             101 non-null    int64
 15  평균자책점         101 non-null    float64
 16  qs횟수          101 non-null    int64
 17  진루허용율         101 non-null    float64
 18  스트라이크_스윙_비율   101 non-null    float64
 19  스트라이크_헛스윙_비율  101 non-null    float64
 20  볼_헛스윙_비율      101 non-null    float64
 21  볼_비율          101 non-null    float64
 22  총투구수          101 non-null    int64
 23  직구평균속도        101 non-null    float64
dtypes: float64(10), int64(13), object(1)
memory usage: 19.1+ KB

In [37]:
# # id를 삭제
DF0.drop(['id'], axis=1, inplace=True)
DF1.drop(['id'], axis=1, inplace=True)
DF2.drop(['id'], axis=1, inplace=True)
DF3.drop(['id'], axis=1, inplace=True)
DF4.drop(['id'], axis=1, inplace=True)

In [38]:
# 데이터 변환및 처리 ->이름을 인덱스로 사용
DF0_reindex= DF0.set_index(['이름'], drop=True)
DF1_reindex= DF1.set_index(['이름'], drop=True)
DF2_reindex= DF2.set_index(['이름'], drop=True)
DF3_reindex= DF3.set_index(['이름'], drop=True)
DF4_reindex= DF4.set_index(['이름'], drop=True)
DF0_reindex.head(5)

,연도,나이,경기수,총이닝수,타격_허용수,홈런수,삼진횟수,삼진비율,장타 허용율,총자책점,...,패,평균자책점,qs횟수,진루허용율,스트라이크_스윙_비율,스트라이크_헛스윙_비율,볼_헛스윙_비율,볼_비율,총투구수,직구평균속도
이름,,,,,,,,,,,,,,,,,,,,,
"Turnbull, Spencer",2020,27,11,56.2,47,2,51,21.1,0.337,25,...,4,3.97,4,0.296,67.3,19.5,50.9,53.3,963,94.1
"Woodruff, Brandon",2020,27,13,73.2,55,9,91,31.1,0.341,25,...,5,3.05,6,0.264,69.9,25.0,39.1,49.9,1211,96.4
"Gibson, Kyle",2020,32,12,67.1,73,12,58,19.3,0.460,40,...,6,5.35,4,0.356,61.7,10.8,43.8,58.0,1139,92.2
"Glasnow, Tyler",2020,26,11,57.1,43,11,91,38.2,0.400,26,...,1,4.08,3,0.289,64.5,20.9,61.7,48.5,964,96.9
"Cease, Dylan",2020,24,12,58.1,50,12,44,17.3,0.477,26,...,4,4.01,4,0.354,64.6,19.2,39.1,55.5,1085,97.5

In [39]:
# 마일= 1.609344
DF0_reindex['직구평균속도(KM)']=DF0_reindex.직구평균속도*1.609344
DF1_reindex['직구평균속도(KM)']=DF1_reindex.직구평균속도*1.609344
DF2_reindex['직구평균속도(KM)']=DF2_reindex.직구평균속도*1.609344
DF3_reindex['직구평균속도(KM)']=DF3_reindex.직구평균속도*1.609344
DF4_reindex['직구평균속도(KM)']=DF4_reindex.직구평균속도*1.609344

In [40]:
#qs= 6이닝 이상 3자책점 이하의 수

In [41]:
# 우수한 투수를 정하는 기준
# 1. 출루를 허용하지 않는 투수
# 진루허용율 상위 10명
DF0_reindex['진루허용율'].sort_values().head(10)

이름
Maeda, Kenta       0.219
Bieber, Shane      0.222
Lamet, Dinelson    0.225
Bauer, Trevor      0.227
Keller, Brad       0.236
Burnes, Corbin     0.239
Plesac, Zach       0.241
deGrom, Jacob      0.246
Keuchel, Dallas    0.249
Darvish, Yu        0.250
Name: 진루허용율, dtype: float64

In [42]:
#삼진비율, 횟수
print(DF0_reindex['삼진횟수'].sort_values(ascending=False).head(10))
print(DF0_reindex['삼진비율'].sort_values(ascending=False).head(10))

이름
Bieber, Shane      122
deGrom, Jacob      104
Bauer, Trevor      100
Giolito, Lucas      97
Nola, Aaron         96
Cole, Gerrit        94
Darvish, Yu         93
Lamet, Dinelson     93
Scherzer, Max       92
Glasnow, Tyler      91
Name: 삼진횟수, dtype: int64
이름
Bieber, Shane      41.1
deGrom, Jacob      38.8
Glasnow, Tyler     38.2
Burnes, Corbin     36.7
Bauer, Trevor      36.0
Lamet, Dinelson    34.8
Giolito, Lucas     33.7
Nola, Aaron        33.2
Cole, Gerrit       32.6
Maeda, Kenta       32.3
Name: 삼진비율, dtype: float64

In [43]:
#직구 속도
DF0_reindex['직구평균속도(KM)'].sort_values(ascending=False).head(10)

이름
deGrom, Jacob        158.681318
Cease, Dylan         156.911040
Castillo, Luis       156.750106
Lamet, Dinelson      156.106368
Glasnow, Tyler       155.945434
May, Dustin          155.623565
Cole, Gerrit         155.623565
Woodruff, Brandon    155.140762
Montas, Frankie      154.014221
Márquez, Germán      153.853286
Name: 직구평균속도(KM), dtype: float64

------------------------------

In [44]:
# 역대 수상 선수
#1. 내셔널 리그
# 2020: 트레버 바우어   Bauer, Trevor
# 2021: 코빈 번스       Burnes, Corbin
# 2022: 샌디 알칸타라   Alcántara,Sandy 
# 2023: 블레이크 스넬   Snell, Blake
                                    
#2. 아메리칸 리그
# 2020:셰인 비버    Bieber, Shane
# 2021: 로비 레이   Ray, Robbie
# 2022: 저스틴 벌랜더  Verlander, Justin
# 2023: 게릿 콜  Cole, Gerrit

In [45]:
#2020 Cy Young award
avg0=pd.DataFrame(data=DF0_reindex.mean(), columns=['평균'])
DF0_award= pd.DataFrame(DF0_reindex.loc['Bauer, Trevor'])
DF0_b= pd.DataFrame(DF0_reindex.loc['Bieber, Shane'])
DF0_award= pd.concat([DF0_award,DF0_b,  avg0], axis=1 )

DF0_award.to_csv('./2020년_비교.csv', encoding='utf-8-sig')
DF0_award

# 코로나 이슈로 총 경기수가 적음

              Bauer, Trevor  Bieber, Shane           평균
연도               2020.00000    2020.000000  2020.000000
나이                 29.00000      25.000000    28.326733
경기수                11.00000      12.000000    11.316832
총이닝수               73.00000      77.100000    59.048515
타격_허용수             41.00000      46.000000    53.653465
홈런수                 9.00000       7.000000     8.138614
삼진횟수              100.00000     122.000000    58.405941
삼진비율               36.00000      41.100000    23.363366
장타 허용율              0.30200       0.265000     0.406020
총자책점               14.00000      14.000000    26.000000
총아웃수              219.00000     232.000000   177.762376
승                   5.00000       8.000000     3.702970
패                   4.00000       1.000000     3.524752
평균자책점               1.73000       1.630000     4.049109
qs횟수                9.00000      10.000000     4.188119
진루허용율               0.22700       0.222000     0.307485
스트라이크_스윙_비율        65.80000      64.200000    66.456436
스트라이크_헛스윙_비율       21.40000      22.500000    17.975248
볼_헛스윙_비율           47.80000      64.000000    42.993069
볼_비율               53.00000      59.100000    52.005941
총투구수             1165.00000    1238.000000   969.207921
직구평균속도             90.90000      92.700000    92.202970
직구평균속도(KM)        146.28937     149.186189   148.386297

In [46]:
#2021 Cy Young award

DF1_award= pd.DataFrame(DF1_reindex.loc['Burnes, Corbin'])
DF1_b= pd.DataFrame(DF1_reindex.loc['Ray, Robbie'])
DF1_award['Ray, Robbie']=DF1_b
avg1=pd.DataFrame(data=DF1_reindex.mean(), columns=['평균'])
DF1_award= pd.concat([DF1_award, avg1] ,axis=1 )

DF1_award.to_csv('./2021년_비교.csv', encoding='utf-8-sig')
DF1_award

              Burnes, Corbin  Ray, Robbie           평균
연도               2021.000000  2021.000000  2021.000000
나이                 26.000000    29.000000    28.808081
경기수                28.000000    32.000000    29.464646
총이닝수              167.000000   193.100000   154.976768
타격_허용수            123.000000   150.000000   143.484848
홈런수                 7.000000    33.000000    21.151515
삼진횟수              234.000000   248.000000   153.313131
삼진비율               35.600000    32.100000    23.517172
장타 허용율              0.273000     0.401000     0.408687
총자책점               45.000000    61.000000    69.040404
총아웃수              501.000000   580.000000   465.686869
승                  11.000000    13.000000     9.393939
패                   5.000000     7.000000     8.323232
평균자책점               2.430000     2.840000     4.071313
qs횟수               18.000000    23.000000    11.727273
진루허용율               0.232000     0.287000     0.308758
스트라이크_스윙_비율        64.900000    73.100000    67.883838
스트라이크_헛스윙_비율       22.100000    22.700000    17.776768
볼_헛스윙_비율           59.000000    56.200000    43.005051
볼_비율               53.900000    49.200000    50.581818
총투구수             2594.000000  3141.000000  2518.444444
직구평균속도             95.500000    94.800000    92.571717
직구평균속도(KM)        153.692352   152.565811   148.979738

In [47]:
#2022 Cy Young award
DF2_reindex.loc['Alcantara, Sandy'], DF2_reindex.loc['Verlander, Justin']


DF2_award= pd.DataFrame(DF2_reindex.loc['Alcantara, Sandy'])
DF2_b= pd.DataFrame(DF2_reindex.loc['Verlander, Justin'])
DF2_award['Verlander, Justin']=DF2_b
avg2=pd.DataFrame(data=DF2_reindex.mean(), columns=['평균'])
DF2_award= pd.concat([DF2_award, avg2] ,axis=1 )

DF2_award.to_csv('./2022년_비교.csv', encoding='utf-8-sig')
DF2_award

              Alcantara, Sandy  Verlander, Justin           평균
연도                 2022.000000         2022.00000  2022.000000
나이                   26.000000           39.00000    28.866667
경기수                  32.000000           28.00000    28.942857
총이닝수                228.200000          175.00000   158.665714
타격_허용수              174.000000          116.00000   145.190476
홈런수                  16.000000           12.00000    18.666667
삼진횟수                207.000000          185.00000   149.142857
삼진비율                 23.400000           27.80000    22.594286
장타 허용율                0.324000            0.27000     0.390152
총자책점                 58.000000           34.00000    64.780952
총아웃수                686.000000          525.00000   476.723810
승                    14.000000           18.00000     9.780952
패                     9.000000            4.00000     8.514286
평균자책점                 2.280000            1.75000     3.735810
qs횟수                 24.000000           21.00000    13.066667
진루허용율                 0.260000            0.22200     0.302752
스트라이크_스윙_비율          70.500000           74.20000    67.930476
스트라이크_헛스윙_비율         18.300000           18.50000    17.130476
볼_헛스윙_비율             41.200000           38.00000    41.578095
볼_비율                 47.800000           48.90000    50.667619
총투구수               3247.000000         2607.00000  2546.809524
직구평균속도               97.900000           95.00000    92.697143
직구평균속도(KM)          157.554778          152.88768   149.181591

In [48]:
#2023 Cy Young award
DF3_reindex.loc['Snell, Blake'], DF3_reindex.loc['Cole, Gerrit']

DF3_award= pd.DataFrame(DF3_reindex.loc['Snell, Blake'])
DF3_b= pd.DataFrame(DF3_reindex.loc['Cole, Gerrit'])
DF3_award['Cole, Gerrit']=DF3_b
avg3=pd.DataFrame(data=DF3_reindex.mean(), columns=['평균'])
DF3_award= pd.concat([DF3_award, avg1] ,axis=1 )

DF3_award.to_csv('./2023년_비교.csv', encoding='utf-8-sig')
DF3_award

              Snell, Blake  Cole, Gerrit           평균
연도             2023.000000   2023.000000  2021.000000
나이               30.000000     32.000000    28.808081
경기수              32.000000     33.000000    29.464646
총이닝수            180.000000    209.000000   154.976768
타격_허용수          115.000000    157.000000   143.484848
홈런수              15.000000     20.000000    21.151515
삼진횟수            234.000000    222.000000   153.313131
삼진비율             31.500000     27.000000    23.517172
장타 허용율            0.286000      0.322000     0.408687
총자책점             45.000000     61.000000    69.040404
총아웃수            540.000000    627.000000   465.686869
승                14.000000     15.000000     9.393939
패                 9.000000      4.000000     8.323232
평균자책점             2.250000      2.630000     4.071313
qs횟수             20.000000     24.000000    11.727273
진루허용율             0.266000      0.256000     0.308758
스트라이크_스윙_비율      65.600000     70.500000    67.883838
스트라이크_헛스윙_비율     23.800000     19.400000    17.776768
볼_헛스윙_비율         58.400000     41.500000    43.005051
볼_비율             60.100000     50.400000    50.581818
총투구수           3168.000000   3281.000000  2518.444444
직구평균속도           95.500000     96.200000    92.571717
직구평균속도(KM)      153.692352    154.818893   148.979738

In [49]:
#2020~2023 까지의 수상 선수들의 수상 당시 실적
DF0_award[DF1_award.columns]=DF1_award
DF0_award[DF2_award.columns]=DF2_award
DF0_award[DF3_award.columns]=DF3_award    
DF_award= DF0_award.T.describe()

DF_award.drop([ '연도'], axis=1)

,나이,경기수,총이닝수,타격_허용수,홈런수,삼진횟수,삼진비율,장타 허용율,총자책점,총아웃수,...,평균자책점,qs횟수,진루허용율,스트라이크_스윙_비율,스트라이크_헛스윙_비율,볼_헛스윙_비율,볼_비율,총투구수,직구평균속도,직구평균속도(KM)
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
mean,29.423120,26.384961,161.930752,118.387205,15.572391,189.479237,30.890797,0.316854,44.560045,486.187430,...,2.401257,17.858586,0.253418,68.520426,20.719641,49.900561,52.553535,2551.049383,94.563524,152.185240
std,4.219383,8.636189,53.915377,46.744155,8.350842,53.199490,6.015765,0.054281,20.310708,161.862715,...,0.753481,6.063901,0.030678,3.694183,2.239749,9.574513,4.437533,821.364326,2.141027,3.445648
min,25.000000,11.000000,73.000000,41.000000,7.000000,100.000000,23.400000,0.265000,14.000000,219.000000,...,1.630000,9.000000,0.222000,64.200000,17.776768,38.000000,47.800000,1165.000000,90.900000,146.289370
25%,26.000000,28.000000,154.976768,115.000000,9.000000,153.313131,27.000000,0.273000,34.000000,465.686869,...,1.750000,11.727273,0.227000,65.600000,18.500000,41.500000,49.200000,2518.444444,92.700000,149.186189
50%,29.000000,29.464646,175.000000,123.000000,15.000000,207.000000,31.500000,0.302000,45.000000,525.000000,...,2.280000,20.000000,0.256000,67.883838,21.400000,47.800000,50.581818,2607.000000,95.000000,152.887680
75%,30.000000,32.000000,193.100000,150.000000,20.000000,234.000000,35.600000,0.324000,61.000000,580.000000,...,2.630000,23.000000,0.266000,70.500000,22.500000,58.400000,53.900000,3168.000000,95.500000,153.692352
max,39.000000,33.000000,228.200000,174.000000,33.000000,248.000000,41.100000,0.408687,69.040404,686.000000,...,4.071313,24.000000,0.308758,74.200000,23.800000,64.000000,60.100000,3281.000000,97.900000,157.554778

In [50]:
#선수들 실적의 순위 매기기
#1. 오름차순 -내림차순 구분
# 2020년
up_list=['경기수', '총이닝수' ,'삼진횟수','삼진비율','총아웃수','승','qs횟수','스트라이크_헛스윙_비율','볼_헛스윙_비율','총투구수', '직구평균속도', '직구평균속도(KM)' ]
down_list=['나이','타격_허용수', '홈런수','장타 허용율', '총자책점','패','평균자책점','진루허용율',]
DF0_rank=DF0_reindex.copy()

x=1
while x<len(up_list):
    DF0_rank[up_list[x]]=DF0_rank[up_list[x]].rank(ascending=False)
    x+=1
x=1
while x<len(down_list):
    DF0_rank[down_list[x]]=DF0_rank[down_list[x]].rank()
    x+=1

DF0_rank.drop(['볼_비율','스트라이크_스윙_비율', '연도', '직구평균속도'], inplace=True, axis=1)
DF0_rank.describe()

,나이,경기수,총이닝수,타격_허용수,홈런수,삼진횟수,삼진비율,장타 허용율,총자책점,총아웃수,승,패,평균자책점,qs횟수,진루허용율,스트라이크_헛스윙_비율,볼_헛스윙_비율,총투구수,직구평균속도(KM)
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.00000
mean,28.326733,11.316832,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.00000
std,3.744620,1.121880,29.294795,29.281991,29.116233,29.289247,29.297269,29.298208,29.262262,29.294795,28.856802,28.714979,29.299403,29.080492,29.296672,29.294965,29.298976,29.299573,29.29488
min,22.000000,8.000000,1.000000,1.000000,3.500000,1.000000,1.000000,1.000000,4.000000,1.000000,1.500000,1.500000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.00000
25%,25.000000,11.000000,25.500000,28.500000,28.000000,26.000000,26.000000,26.000000,25.000000,25.500000,24.000000,18.500000,26.000000,25.500000,26.000000,27.000000,25.500000,26.000000,25.50000
50%,28.000000,11.000000,51.000000,51.500000,46.500000,50.500000,51.000000,50.000000,49.000000,51.000000,43.500000,42.000000,51.000000,49.500000,51.000000,51.500000,50.500000,51.500000,53.00000
75%,31.000000,12.000000,76.000000,74.500000,75.000000,77.000000,76.000000,76.000000,77.000000,76.000000,82.000000,66.500000,76.000000,78.500000,76.000000,76.000000,76.000000,76.000000,75.50000
max,38.000000,15.000000,101.000000,101.000000,100.500000,101.000000,101.000000,101.000000,100.500000,101.000000,96.500000,101.000000,101.000000,98.000000,101.000000,101.000000,101.000000,101.000000,101.00000

In [51]:
DF0_rank

,나이,경기수,총이닝수,타격_허용수,홈런수,삼진횟수,삼진비율,장타 허용율,총자책점,총아웃수,승,패,평균자책점,qs횟수,진루허용율,스트라이크_헛스윙_비율,볼_헛스윙_비율,총투구수,직구평균속도(KM)
이름,,,,,,,,,,,,,,,,,,,
"Turnbull, Spencer",27,11,54.5,28.5,3.5,58.0,60.5,16.5,49.0,54.5,43.5,66.5,49.5,49.5,45.0,37.0,22.0,51.5,22.0
"Woodruff, Brandon",27,13,7.0,60.0,63.0,10.5,14.0,18.0,49.0,7.0,64.0,82.5,23.0,25.5,13.0,4.0,69.5,6.0,8.0
"Gibson, Kyle",32,12,23.5,95.5,88.5,43.5,74.0,83.0,99.0,23.5,82.0,92.5,84.0,49.5,88.5,98.0,45.0,15.0,53.0
"Glasnow, Tyler",26,11,52.5,20.5,83.0,10.5,3.0,48.0,56.0,52.5,24.0,6.0,58.0,66.5,36.0,24.0,2.0,50.0,5.0
"Cease, Dylan",24,12,49.5,37.5,88.5,77.0,86.0,87.0,56.0,49.5,24.0,66.5,53.0,49.5,87.0,42.0,69.5,24.5,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Mahle, Tyler",25,10,88.5,2.0,28.0,38.5,18.0,38.5,17.5,88.5,82.0,18.5,41.0,49.5,38.0,5.5,23.5,78.0,25.5
"Fedde, Erick",27,11,79.0,28.5,75.0,99.0,101.0,73.0,42.5,79.0,82.0,66.5,62.0,78.5,72.0,96.5,100.0,79.0,49.5
"Keller, Brad",24,9,68.0,10.5,3.5,95.0,89.5,1.0,8.0,68.0,24.0,42.0,12.0,36.0,5.0,91.0,50.5,77.0,43.0
"Fiers, Mike",35,11,46.0,86.0,63.0,93.0,96.0,71.0,73.0,46.0,11.5,42.0,72.0,49.5,75.0,90.0,98.0,62.0,94.0
"Bumgarner, Madison",30,9,101.0,28.5,93.0,98.0,92.5,100.0,73.0,101.0,96.5,66.5,95.0,98.0,97.5,94.0,94.0,101.0,99.5

In [52]:
# 2021년
DF1_rank=DF1_reindex.copy()
x=1
while x<len(up_list):
    DF1_rank[up_list[x]]=DF1_rank[up_list[x]].rank(ascending=False)
    x+=1
x=1
while x<len(down_list):
    DF1_rank[down_list[x]]=DF1_rank[down_list[x]].rank()
    x+=1

DF1_rank.drop(['볼_비율','스트라이크_스윙_비율', '연도', '직구평균속도'], inplace=True, axis=1)
DF1_rank

,나이,경기수,총이닝수,타격_허용수,홈런수,삼진횟수,삼진비율,장타 허용율,총자책점,총아웃수,승,패,평균자책점,qs횟수,진루허용율,스트라이크_헛스윙_비율,볼_헛스윙_비율,총투구수,직구평균속도(KM)
이름,,,,,,,,,,,,,,,,,,,
"Darvish, Yu",34,30,34.0,46.0,86.5,18.0,13.0,62.0,74.5,34.0,61.5,80.0,53.0,39.0,41.5,32.0,22.0,28.0,29.0
"Miley, Wade",34,28,37.0,82.0,25.5,68.5,85.0,48.0,32.0,37.0,23.5,37.5,28.5,25.5,62.0,40.5,88.0,40.0,98.0
"McCullers Jr., Lance",27,28,38.0,17.0,8.0,25.0,23.5,8.0,18.5,38.0,17.5,13.5,20.0,25.5,21.0,53.5,3.0,25.5,37.5
"Kelly, Merrill",32,27,43.0,76.5,53.0,62.0,75.5,65.0,74.5,43.0,74.0,80.0,64.0,55.5,64.5,92.0,57.0,55.0,72.0
"McClanahan, Shane",24,25,90.0,15.0,11.5,55.0,21.0,36.5,7.0,90.0,42.0,24.5,30.0,87.5,44.0,33.0,1.0,94.0,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Urías, Julio",24,32,10.5,63.5,38.5,20.0,31.0,17.0,32.0,10.5,1.0,3.0,13.0,39.0,11.0,39.0,74.0,27.0,29.0
"Pivetta, Nick",28,31,51.5,43.5,68.0,29.0,28.5,53.0,74.5,51.5,52.0,49.0,68.5,74.5,61.0,50.0,42.0,30.0,17.5
"Peralta, Freddy",25,28,63.5,1.0,11.5,20.0,4.0,2.0,3.5,63.5,42.0,13.5,9.5,32.5,4.5,1.0,16.0,62.0,46.0
"Lyles, Jordan",30,32,19.0,97.0,99.0,50.5,80.5,95.0,98.0,19.0,42.0,91.5,86.0,39.0,88.0,77.0,48.5,16.0,58.0
"Irvin, Cole",27,32,27.0,98.0,62.0,68.5,95.5,58.0,86.5,27.0,42.0,96.5,54.0,25.5,69.5,69.5,97.0,35.0,82.0

In [53]:
# 2022년
DF2_rank=DF2_reindex.copy()
x=1
while x<len(up_list):
    DF2_rank[up_list[x]]=DF2_rank[up_list[x]].rank(ascending=False)
    x+=1
x=1
while x<len(down_list):
    DF2_rank[down_list[x]]=DF2_rank[down_list[x]].rank()
    x+=1

DF2_rank.drop(['볼_비율','스트라이크_스윙_비율', '연도', '직구평균속도'], inplace=True, axis=1)
DF2_rank

,나이,경기수,총이닝수,타격_허용수,홈런수,삼진횟수,삼진비율,장타 허용율,총자책점,총아웃수,승,패,평균자책점,qs횟수,진루허용율,스트라이크_헛스윙_비율,볼_헛스윙_비율,총투구수,직구평균속도(KM)
이름,,,,,,,,,,,,,,,,,,,
"Syndergaard, Noah",29,25,81.0,45.0,24.5,97.0,93.0,64.5,39.0,81.0,52.5,77.0,64.5,78.5,63.5,75.0,93.5,100.0,37.0
"Anderson, Tyler",32,30,30.0,53.0,24.5,61.5,76.5,28.5,22.5,30.0,10.0,12.0,14.0,21.5,22.0,46.0,69.0,49.0,99.5
"Strider, Spencer",23,31,86.0,1.0,1.0,11.0,1.0,1.0,4.0,86.0,42.5,12.0,15.0,70.0,2.0,1.0,4.0,75.0,2.0
"Pérez, Martín",31,32,10.0,95.0,9.0,32.0,65.0,18.0,49.5,10.0,31.5,52.0,21.0,5.5,34.5,58.0,99.0,16.0,75.5
"Lauer, Eric",27,29,48.5,38.5,95.0,41.5,38.0,67.5,57.5,48.5,42.5,33.5,54.0,49.5,61.5,28.5,88.5,40.0,59.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Valdez, Framber",28,31,5.0,81.0,9.0,15.0,45.0,3.5,49.5,5.0,3.5,20.5,16.5,1.0,23.5,86.5,5.0,11.0,31.0
"Quantrill, Cal",27,32,16.0,95.0,73.5,73.0,94.5,50.0,69.0,16.0,10.0,12.0,43.5,28.0,55.5,92.0,102.0,20.0,79.0
"Pivetta, Nick",29,33,28.0,92.0,95.0,25.0,53.5,78.0,101.0,28.0,52.5,89.5,84.0,54.0,83.5,46.0,57.0,7.0,75.5
"Thompson, Zach",28,29,100.5,45.0,60.0,101.0,94.5,88.0,69.0,100.5,102.0,77.0,98.0,104.5,94.5,63.0,54.0,94.0,95.0
"Kaprielian, James",28,26,84.0,22.0,37.5,95.0,91.5,71.0,49.5,84.0,92.0,66.5,73.0,92.5,75.0,67.5,84.0,82.0,28.0

In [54]:
# 2023년
DF3_rank=DF3_reindex.copy()
x=1
while x<len(up_list):
    DF3_rank[up_list[x]]=DF3_rank[up_list[x]].rank(ascending=False)
    x+=1
x=1
while x<len(down_list):
    DF3_rank[down_list[x]]=DF3_rank[down_list[x]].rank()
    x+=1

DF3_rank.drop(['볼_비율','스트라이크_스윙_비율', '연도', '직구평균속도'], inplace=True, axis=1)
DF3_rank.describe()

,나이,경기수,총이닝수,타격_허용수,홈런수,삼진횟수,삼진비율,장타 허용율,총자책점,총아웃수,승,패,평균자책점,qs횟수,진루허용율,스트라이크_헛스윙_비율,볼_헛스윙_비율,총투구수,직구평균속도(KM)
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,29.270000,29.430000,50.500000,50.500000,50.500000,50.500000,50.500000,50.500000,50.500000,50.500000,50.500000,50.500000,50.500000,50.50000,50.500000,50.500000,50.500000,50.500000,50.500000
std,4.126424,3.742346,29.008358,29.006008,28.942908,29.005137,29.008097,29.009142,28.998955,29.008358,28.889025,28.822077,29.010186,28.93933,29.006008,29.007314,29.008097,29.011318,29.004615
min,23.000000,21.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.50000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,26.000000,27.000000,25.625000,25.750000,25.500000,26.500000,26.125000,26.125000,26.125000,25.625000,28.000000,21.500000,25.750000,26.00000,26.000000,25.750000,25.750000,25.625000,25.500000
50%,28.000000,30.000000,50.500000,50.500000,48.000000,50.750000,50.500000,50.500000,49.000000,50.500000,48.000000,51.500000,50.500000,50.00000,50.750000,50.750000,50.500000,50.500000,51.000000
75%,32.000000,32.000000,75.500000,75.250000,74.500000,75.500000,75.500000,75.250000,75.500000,75.500000,79.500000,73.000000,75.250000,73.62500,75.500000,75.250000,75.375000,75.250000,74.875000
max,43.000000,41.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.50000,100.000000,100.000000,100.000000,100.000000,100.000000

In [55]:
DF0_rank.loc[['Bauer, Trevor','Bieber, Shane']]
DF_rank0= DF0_rank.loc[['Bauer, Trevor','Bieber, Shane']] 
pd.DataFrame(DF_rank0)
DF_rank1= DF1_rank.loc[['Burnes, Corbin', 'Ray, Robbie']]
pd.DataFrame(DF_rank1)
DF_rank2= DF2_rank.loc[['Alcantara, Sandy', 'Verlander, Justin']] 
pd.DataFrame(DF_rank2)
DF_rank3= DF3_rank.loc[['Snell, Blake', 'Cole, Gerrit']]
pd.DataFrame(DF_rank3)
year_list=[2020,2020,2021,2021,2022,2022,2023,2023]
name_list=['Bauer, Trevor','Bieber, Shane','Burnes, Corbin','Ray, Robbie','Alcantara, Sandy','Verlander, Justin','Snell, Blake','Cole, Gerrit']

DF_rank= pd.concat([DF_rank0, DF1_rank,DF2_rank,DF3_rank])

In [56]:
DF_rank.describe().to_csv('./수상_선수들_지표.csv', encoding='utf-8-sig')

In [57]:
# 수상 선수의 특징

#1. 평균 자책점이 낮다(=진루 허용율이 낮다, qs횟수가 높다)
#2. 경기를 오래 뛴다
##3. 삼진횟수가 높다(2를 만족할때)

In [58]:
# 수상을 받은 사람들이 위 세가지 특징에서 높은 순위를 가지고 있지만,세가지 특징 모두 1등은 아니다.
# 그럼 선택한 특징들이 수상받은 선수들보다 더 순위가 높은 선수들이 있는지 살펴보자

In [59]:
#1.  2020년 ('Bauer, Trevor','Bieber, Shane')

d= DF0_rank['평균자책점'].sort_values().head(20)
a= DF0_rank['경기수'].sort_values().head(20)
b= DF0_rank['삼진횟수'].sort_values().head(20)
c= DF0_rank['qs횟수'].sort_values().head(20)
total=pd.concat([a,b,c,d], axis=1)
total.dropna(thresh=3)

# 수상맞은 선수들보다 선택한 특성들이 전부 뛰어난 선수들이 없다

               경기수  삼진횟수  qs횟수  평균자책점
이름
Plesac, Zach   8.0   NaN  25.5    9.0
Bieber, Shane  NaN   1.0   2.0    1.0
deGrom, Jacob  NaN   2.0  11.5   11.0
Bauer, Trevor  NaN   3.0   6.5    2.0
Cole, Gerrit   NaN   6.0  11.5   19.0
Darvish, Yu    NaN   7.5   2.0    4.0
Gallen, Zac    NaN  15.5   6.5   18.0
Maeda, Kenta   NaN  17.0  11.5   15.5

In [60]:
#1.  2020년 ('Bauer, Trevor','Bieber, Shane')

d= DF0_reindex['평균자책점'].sort_values().head(20)
a= DF0_reindex['경기수'].sort_values(ascending=False).head(20)
b= DF0_reindex['삼진횟수'].sort_values(ascending=False).head(20)
c= DF0_reindex['qs횟수'].sort_values(ascending=False).head(20)
total=pd.concat([a,b,c,d], axis=1)
total.dropna(thresh=3)  #3일때도

# 선택한 특성의 상위 20명을 뽑았을때 상위 20등에 모두 포함하는 선수

                  경기수   삼진횟수  qs횟수  평균자책점
이름
Márquez, Germán  13.0   73.0   9.0    NaN
Lynn, Lance      13.0   89.0  10.0    NaN
Hendricks, Kyle  12.0    NaN   9.0   2.88
deGrom, Jacob    12.0  104.0   8.0   2.38
Giolito, Lucas   12.0   97.0   8.0    NaN
Ryu, Hyun Jin    12.0    NaN   7.0   2.69
Darvish, Yu      12.0   93.0  10.0   2.01
Bieber, Shane     NaN  122.0  10.0   1.63
Bauer, Trevor     NaN  100.0   9.0   1.73
Cole, Gerrit      NaN   94.0   8.0   2.84
Gallen, Zac       NaN   82.0   9.0   2.75
Maeda, Kenta      NaN   80.0   8.0   2.70

In [61]:
#1.  2021년 ('Burnes, Corbin', 'Ray, Robbie')

d1= DF1_rank['평균자책점'].sort_values().head(20)
a1= DF1_rank['경기수'].sort_values().head(20)
b1= DF1_rank['삼진횟수'].sort_values().head(20)
c1= DF1_rank['qs횟수'].sort_values().head(20)
total=pd.concat([a1,b1,c1,d1],axis=1)
total.dropna(thresh=3)

                    경기수  삼진횟수  qs횟수  평균자책점
이름
Bassitt, Chris     27.0   NaN  19.5   19.0
Ray, Robbie         NaN   1.0   2.5   11.0
Wheeler, Zack       NaN   2.0   6.5    8.0
Scherzer, Max       NaN   4.0  14.5    3.0
Burnes, Corbin      NaN   5.0  14.5    2.0
Gausman, Kevin      NaN   6.0   6.5    9.5
Buehler, Walker     NaN  10.0   1.0    4.0
Woodruff, Brandon   NaN  11.0   6.5    5.0

In [62]:
#1.  2021년 ('Burnes, Corbin', 'Ray, Robbie')

d1= DF1_reindex['평균자책점'].sort_values().head(20)
a1= DF1_reindex['경기수'].sort_values(ascending=False).head(20)
b1= DF1_reindex['삼진횟수'].sort_values(ascending=False).head(20)
c1= DF1_reindex['qs횟수'].sort_values(ascending=False).head(20)
total=pd.concat([a1,b1,c1,d1],axis=1)
total.dropna(thresh=3)

# 셋다 수상자보다 우수한 사람은 없다

                    경기수   삼진횟수  qs횟수  평균자책점
이름
Morton, Charlie    33.0  216.0  19.0    NaN
Alcantara, Sandy   33.0  201.0  23.0    NaN
Gausman, Kevin     33.0  227.0  20.0   2.81
Stroman, Marcus    33.0    NaN  16.0   3.02
Buehler, Walker    33.0  212.0  27.0   2.47
Ray, Robbie        32.0  248.0  23.0   2.84
Montas, Frankie    32.0  207.0  20.0    NaN
Wainwright, Adam   32.0    NaN  22.0   3.05
Wheeler, Zack       NaN  247.0  20.0   2.78
Scherzer, Max       NaN  236.0  18.0   2.46
Burnes, Corbin      NaN  234.0  18.0   2.43
Woodruff, Brandon   NaN  211.0  20.0   2.56

In [ ]:
# 1.  2022년 ('Alcantara, Sandy', 'Verlander, Justin' )

d= DF2_rank['평균자책점'].sort_values().head(20)
a= DF2_rank['경기수'].sort_values().head(20)
b= DF2_rank['삼진횟수'].sort_values().head(20)
c= DF2_rank['qs횟수'].sort_values().head(20)
total=pd.concat([a,b,c,d], axis=1)
total.dropna(thresh=3)

                   경기수  삼진횟수  qs횟수  평균자책점
이름
Alcantara, Sandy   NaN   8.0   4.0    5.0
Bieber, Shane      NaN  12.0   5.5   19.5
Valdez, Framber    NaN  15.0   1.0   16.5
Gallen, Zac        NaN  17.0  15.0   12.0
Verlander, Justin  NaN  20.0  10.0    1.0

In [64]:
# 1.  2022년 ('Alcantara, Sandy', 'Verlander, Justin')

d= DF2_reindex['평균자책점'].sort_values().head(20)
a= DF2_reindex['경기수'].sort_values(ascending=False).head(20)
b= DF2_reindex['삼진횟수'].sort_values(ascending=False).head(20)
c= DF2_reindex['qs횟수'].sort_values(ascending=False).head(20)
total=pd.concat([a,b,c,d], axis=1)
total.dropna(thresh=3)

                    경기수   삼진횟수  qs횟수  평균자책점
이름
Burnes, Corbin     33.0  243.0  21.0    NaN
Cole, Gerrit       33.0  257.0  21.0    NaN
Nola, Aaron        32.0  235.0  18.0    NaN
Alcantara, Sandy    NaN  207.0  24.0   2.28
Bieber, Shane       NaN  198.0  23.0   2.88
Valdez, Framber     NaN  194.0  26.0   2.82
Gallen, Zac         NaN  192.0  19.0   2.54
Verlander, Justin   NaN  185.0  21.0   1.75

In [ ]:
# 1.  2023년 ('Snell, Blake', 'Cole, Gerrit')

d= DF3_rank['평균자책점'].sort_values().head(20)
a= DF3_rank['경기수'].sort_values().head(20)
b= DF3_rank['삼진횟수'].sort_values().head(20)
c= DF3_rank['qs횟수'].sort_values().head(20)
total=pd.concat([a,b,c,d], axis=1)
total

                     경기수  삼진횟수  qs횟수  평균자책점
이름
Bieber, Shane       21.0   NaN   NaN    NaN
Miller, Bobby       22.0   NaN   NaN    NaN
Suárez, Ranger      22.0   NaN   NaN    NaN
Rodriguez, Grayson  23.0   NaN   NaN    NaN
Civale, Aaron       23.0   NaN   NaN    NaN
Ohtani, Shohei      23.0   NaN   NaN    9.0
Canning, Griffin    24.0   NaN   NaN    NaN
Allen, Logan        24.0   NaN   NaN    NaN
Irvin, Jake         24.0   NaN   NaN    NaN
Kershaw, Clayton    24.0   NaN   NaN    2.0
France, J.P.        24.0   NaN   NaN    NaN
Wacha, Michael      24.0   NaN   NaN   12.5
Hendricks, Kyle     24.0   NaN   NaN    NaN
Darvish, Yu         24.0   NaN   NaN    NaN
Clevinger, Mike     24.0   NaN   NaN    NaN
Bibee, Tanner       25.0   NaN   NaN    6.5
Megill, Tylor       25.0   NaN   NaN    NaN
Eovaldi, Nathan     25.0   NaN   NaN    NaN
Miller, Bryce       25.0   NaN   NaN    NaN
Ashcraft, Graham    26.0   NaN   NaN    NaN
Strider, Spencer     NaN   1.0  16.5    NaN
Gausman, Kevin       NaN   2.0   8.5   10.0
Snell, Blake         NaN   3.5   8.5    1.0
López, Pablo         NaN   3.5   8.5    NaN
Cole, Gerrit         NaN   5.0   1.5    3.0
Gallen, Zac          NaN   6.0   8.5    NaN
Castillo, Luis       NaN   7.0  16.5   17.0
Cease, Dylan         NaN   8.0   NaN    NaN
Wheeler, Zack        NaN   9.0   3.5    NaN
Peralta, Freddy      NaN  10.5   NaN    NaN
Keller, Mitch        NaN  10.5  16.5    NaN
Luzardo, Jesús       NaN  12.0   NaN    NaN
Giolito, Lucas       NaN  13.0   NaN    NaN
Senga, Kodai         NaN  14.5   NaN    6.5
Nola, Aaron          NaN  14.5   NaN    NaN
Valdez, Framber      NaN  16.5   8.5    NaN
Burnes, Corbin       NaN  16.5  13.0   19.0
Ryan, Joe            NaN  18.0   NaN    NaN
Webb, Logan          NaN  19.0   1.5   14.0
Lynn, Lance          NaN  20.0   NaN    NaN
Bassitt, Chris       NaN   NaN   3.5    NaN
Montgomery, Jordan   NaN   NaN   8.5   11.0
Kirby, George        NaN   NaN   8.5   18.0
Steele, Justin       NaN   NaN   8.5    8.0
Bradish, Kyle        NaN   NaN  16.5    5.0
Gilbert, Logan       NaN   NaN  16.5    NaN
Kelly, Merrill       NaN   NaN  16.5   15.0
Gray, Sonny          NaN   NaN  22.0    4.0
Verlander, Justin    NaN   NaN   NaN   12.5
Rodriguez, Eduardo   NaN   NaN   NaN   16.0
Ober, Bailey         NaN   NaN   NaN   20.0

In [66]:
# 1.  2023년 ('Snell, Blake', 'Cole, Gerrit')

d= DF3_reindex['평균자책점'].sort_values().head(20)
a= DF3_reindex['경기수'].sort_values(ascending=False).head(20)
b= DF3_reindex['삼진횟수'].sort_values(ascending=False).head(20)
c= DF3_reindex['qs횟수'].sort_values(ascending=False).head(20)
total=pd.concat([a,b,c,d], axis=1)
total.dropna(thresh=3)

                 경기수   삼진횟수  qs횟수  평균자책점
이름
Gallen, Zac     34.0  220.0  20.0    NaN
Castillo, Luis  33.0  219.0  18.0   3.34
Cole, Gerrit    33.0  222.0  24.0   2.63
Webb, Logan     33.0  194.0  24.0   3.25
Gausman, Kevin   NaN  237.0  20.0   3.16
Snell, Blake     NaN  234.0  20.0   2.25
Burnes, Corbin   NaN  200.0  19.0   3.39

In [85]:
# 수상받은 선수들보다 선택한 특성들이 모두 뛰어난 선수는 없지만, 
# 이는 위 특성이 완벽한 수상의 기준이 될수 없다는 의미이기도 하다

In [86]:
# 개인적으로 수상의 기준에는 위 특성과 스타성이 영향을 미친다고 생각한다.
# 역전의 주인공 등등....

--------------------------------------------------

In [87]:
# 측정한 데이터를 바탕으로 올해 수상자 예측하기

In [88]:
# 1. 평균 자책점이 낮은 선수
a= DF4_reindex['평균자책점'].sort_values().head(20)
a

이름
López, Reynaldo        1.88
Skubal, Tarik          2.41
Burnes, Corbin         2.43
Lugo, Seth             2.48
Houck, Tanner          2.54
Blanco, Ronel          2.56
Wheeler, Zack          2.70
Sale, Chris            2.70
Steele, Justin         2.71
Suárez, Ranger         2.76
Gilbert, Logan         2.79
Yamamoto, Yoshinobu    2.92
Sánchez, Cristopher    2.96
Eovaldi, Nathan        2.97
Imanaga, Shota         2.97
Anderson, Tyler        2.97
Fedde, Erick           2.99
Crawford, Kutter       3.00
Crochet, Garrett       3.02
Fried, Max             3.08
Name: 평균자책점, dtype: float64

In [89]:
# 2. 경기수
b= DF4_reindex['경기수'].sort_values(ascending=False).head(20)
b

이름
Wilson, Bryse         23
Spence, Mitch         22
Soroka, Michael       22
King, Michael         20
Crawford, Kutter      20
Castillo, Luis        20
Cease, Dylan          20
Kikuchi, Yusei        20
Gilbert, Logan        20
Cortes Jr., Nestor    20
Rodón, Carlos         20
Lugo, Seth            20
Crochet, Garrett      20
Flexen, Chris         20
Mikolas, Miles        20
Ragans, Cole          20
Webb, Logan           20
Irvin, Jake           20
Berríos, José         20
Kirby, George         20
Name: 경기수, dtype: int64

In [90]:
# 삼진횟수

c= DF4_reindex['삼진횟수'].sort_values(ascending=False).head(20)
c

이름
Crochet, Garrett    150
Cease, Dylan        149
Glasnow, Tyler      143
Ragans, Cole        141
Skubal, Tarik       140
Sale, Chris         140
Peralta, Freddy     130
King, Michael       129
Wheeler, Zack       126
Greene, Hunter      126
Gilbert, Logan      124
Ryan, Joe           124
Bibee, Tanner       123
Gray, Sonny         121
López, Pablo        121
Flaherty, Jack      119
Gil, Luis           118
Kikuchi, Yusei      117
Lugo, Seth          116
Gore, MacKenzie     116
Name: 삼진횟수, dtype: int64

In [91]:
pd.concat([a,b,c], axis=1).dropna()

                  평균자책점   경기수   삼진횟수
이름
Lugo, Seth         2.48  20.0  116.0
Gilbert, Logan     2.79  20.0  124.0
Crochet, Garrett   3.02  20.0  150.0

In [92]:
pd.concat([DF4_reindex.loc['Gilbert, Logan'], DF4_reindex.loc['Crochet, Garrett']],axis=1)

              Gilbert, Logan  Crochet, Garrett
연도               2024.000000       2024.000000
나이                 27.000000         25.000000
경기수                20.000000         20.000000
총이닝수              132.100000        107.100000
타격_허용수             90.000000         79.000000
홈런수                15.000000         10.000000
삼진횟수              124.000000        150.000000
삼진비율               24.800000         35.200000
장타 허용율              0.342000          0.318000
총자책점               41.000000         36.000000
총아웃수              397.000000        322.000000
승                   6.000000          6.000000
패                   5.000000          6.000000
평균자책점               2.790000          3.020000
qs횟수               16.000000         11.000000
진루허용율               0.250000          0.252000
스트라이크_스윙_비율        70.900000         68.700000
스트라이크_헛스윙_비율       19.400000         25.400000
볼_헛스윙_비율           55.700000         51.200000
볼_비율               49.100000         45.700000
총투구수             1838.000000       1719.000000
직구평균속도             94.900000         95.100000
직구평균속도(KM)        152.726746        153.048614

In [93]:
#삼진 횟수나 비율이 비교적 낮지만, 실점이 낮고(평균실점, qs횟수)경기를 더 오래뛰었기(총이닝) 때문에 
# 현 지표로는 Gilbert, Logan이 가장 유력한 수상후보라 할 수 있다

--------------------------------

In [94]:
# 추가 5개년 자료

In [95]:
#
file_name5= 'stats.csv'
DF5=pd.read_csv(file_name5, sep=',')
DF5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   last_name, first_name  594 non-null    object
 1   player_id              594 non-null    int64
 2   year                   594 non-null    int64
 3   player_age             594 non-null    int64
 4   pa                     594 non-null    int64
 5   ab                     594 non-null    int64
 6   home_run               594 non-null    int64
 7   strikeout              594 non-null    int64
 8   walk                   594 non-null    int64
 9   k_percent              594 non-null    float64
 10  batting_avg            594 non-null    float64
 11  slg_percent            594 non-null    float64
 12  on_base_percent        594 non-null    float64
 13  on_base_plus_slg       594 non-null    float64
 14  p_earned_run           594 non-null    int64
 15  p_out                  594 non-null    int64
 16  p_win                  594 non-null    int64
 17  p_loss                 594 non-null    int64
 18  p_era                  594 non-null    float64
 19  p_quality_start        594 non-null    int64
 20  woba                   594 non-null    float64
 21  n                      594 non-null    int64
dtypes: float64(7), int64(14), object(1)
memory usage: 102.2+ KB

In [96]:
DF5.drop(columns=[ 'ab', 'pa', 'n', 'player_id'], inplace=True)

In [97]:
DF5.columns

Index(['last_name, first_name', 'year', 'player_age', 'home_run', 'strikeout',
       'walk', 'k_percent', 'batting_avg', 'slg_percent', 'on_base_percent',
       'on_base_plus_slg', 'p_earned_run', 'p_out', 'p_win', 'p_loss', 'p_era',
       'p_quality_start', 'woba'],
      dtype='object')

In [98]:
list_name=DF5['last_name, first_name']
list_year=DF5['year']
DF5.set_index(['last_name, first_name', 'year'],drop=True, inplace=True)

In [99]:
DF5_mean= DF5.mean()

In [100]:
# 2019 Verlander, Justin /  deGrom, Jacob
# 2018 Snell, Blake / deGrom, Jacob
# 2017 Kluber, Corey / Scherzer, Max
# 2016 Porcello, Rick / Scherzer, Max
# 2015 Keuchel, Dallas / Arrieta, Jake

In [ ]:
a= DF5.loc[('deGrom, Jacob', 2018)] 
b= DF5.loc[('deGrom, Jacob', 2019)]
c= DF5.loc[('Scherzer, Max', 2017)]
d= DF5.loc[('Scherzer, Max', 2016)]
e= DF5.loc[('Arrieta, Jake', 2015)]
f= DF5.loc[('Keuchel, Dallas', 2015)]
g= DF5.loc[('Porcello, Rick', 2016)]
h= DF5.loc[('Kluber, Corey', 2017)]
i= DF5.loc[('Snell, Blake', 2018)]
j= DF5.loc[('Verlander, Justin', 2019)]
award_more= pd.concat([a,b,c,d,e,f,g,h,i,j],axis=1)
award_more= award_more.T

a=award_more.mean()
wow= pd.concat([a,DF5_mean],keys=['수상자평균', '전체평균'],axis=1)
wow

                     수상자평균        천체평균
player_age         29.9000   28.601010
home_run           20.5000   21.557239
strikeout         250.3000  150.759259
walk               47.3000   51.718855
k_percent          30.2900   21.481650
batting_avg         0.1955    0.252264
slg_percent         0.3218    0.415857
on_base_percent     0.2475    0.313692
on_base_plus_slg    0.5693    0.729549
p_earned_run       56.7000   74.072391
p_out             642.4000  496.986532
p_win              18.1000   10.439394
p_loss              6.3000    9.267677
p_era               2.3720    4.100960
p_quality_start    24.8000   14.045455
woba                0.2476    0.313621

----------------------------------------

### 프로젝트 이후 탐색


예측 선수: Gilbert, Logan
2024년 사이 영 수상자 -> Christopher Allen Sale(Sale, Chris), Tarik Daniel Skubal(Skubal, Tarik) 
                     -> 2024년 통계에서 평균자책점, 삼진횟수 top 20명에 있던 선수임
예측실패!  --> 왜 실패했는가?

In [122]:
# 2024년 총결산 자료
p_2024= pd.read_csv('./2024_pitcher_total.csv')
p_2024.head()

,"last_name, first_name",player_id,year,player_age,home_run,strikeout,k_percent,slg_percent,p_earned_run,p_out,p_win,p_loss,p_era,p_quality_start,woba,fastball_avg_speed
0,"Webb, Logan",657277,2024,27,11,172,20.5,0.355,79,614,13,10,3.47,20,0.288,92.5
1,"Wacha, Michael",608379,2024,32,17,145,21.2,0.387,62,500,13,8,3.35,14,0.300,92.5
2,"Greene, Hunter",668881,2024,24,12,169,27.7,0.298,46,451,9,5,2.75,13,0.265,97.6
3,"Bibee, Tanner",676440,2024,25,22,187,26.3,0.406,67,521,12,8,3.47,12,0.299,91.7
4,"Civale, Aaron",650644,2024,29,29,149,21.6,0.440,78,483,8,9,4.36,8,0.327,90.3

In [123]:
#필요없는 컬럼 제거 및 컬럼명 한국어로 번역

# 이름, 연도 컬럼 제거
p_2024=p_2024[['last_name, first_name', 'player_age', 'home_run', 'strikeout', 'k_percent', 'slg_percent', 'p_earned_run', 
              'p_out', 'p_win', 'p_loss', 'p_era', 'p_quality_start', 'woba', 'fastball_avg_speed']]
#컬럼 한국어로 번역
p_2024.columns=['이름', '나이', '홈런횟수', '삼진수', '삼진비율', '장타율', '자책점', '아웃수', '승', '패', '평균자책점', 'qs횟수', '출루율', '직구 평균속도']


#인덱스 이름으로 변경
p_2024.set_index(keys='이름', inplace=True, drop=True)

p_2024.head()

,나이,홈런횟수,삼진수,삼진비율,장타율,자책점,아웃수,승,패,평균자책점,qs횟수,출루율,직구 평균속도
이름,,,,,,,,,,,,,
"Webb, Logan",27,11,172,20.5,0.355,79,614,13,10,3.47,20,0.288,92.5
"Wacha, Michael",32,17,145,21.2,0.387,62,500,13,8,3.35,14,0.300,92.5
"Greene, Hunter",24,12,169,27.7,0.298,46,451,9,5,2.75,13,0.265,97.6
"Bibee, Tanner",25,22,187,26.3,0.406,67,521,12,8,3.47,12,0.299,91.7
"Civale, Aaron",29,29,149,21.6,0.440,78,483,8,9,4.36,8,0.327,90.3

- 앞서 한 방식과 같이 평균자책점, 경기수, 삼진 수로 나열해보기  
++ 기존에 선정한 선수의 경향 또한 살펴보기

In [124]:
# 평균자책점
p_2024.sort_values(by='평균자책점').head(30)
# 실제 수상 선수들은 2,3위 하지만 예측선수는 21위 기록

,나이,홈런횟수,삼진수,삼진비율,장타율,자책점,아웃수,승,패,평균자책점,qs횟수,출루율,직구 평균속도
이름,,,,,,,,,,,,,
"Skenes, Paul",22,10,170,33.1,0.295,29,399,11,3,1.96,15,0.247,96.8
"López, Reynaldo",30,10,148,27.3,0.333,30,407,8,5,1.99,14,0.271,95.5
"Sale, Chris",35,9,225,32.1,0.319,47,533,18,3,2.38,18,0.260,94.7
"Skubal, Tarik",27,15,228,30.3,0.311,51,576,18,4,2.39,22,0.246,96.8
"Wheeler, Zack",34,20,224,28.5,0.328,57,600,16,7,2.57,26,0.256,94.5
"Greene, Hunter",24,12,169,27.7,0.298,46,451,9,5,2.75,13,0.265,97.6
"Blanco, Ronel",30,22,166,24.6,0.354,52,502,13,6,2.80,14,0.276,93.4
"Peterson, David",28,8,101,19.8,0.349,39,363,10,3,2.90,12,0.299,92.5
"Imanaga, Shota",30,27,174,25.1,0.385,56,520,15,3,2.91,19,0.279,91.5
"Valdez, Framber",30,13,169,24.0,0.323,57,529,15,7,2.91,17,0.272,94.1
"Burnes, Corbin",29,22,181,23.1,0.347,63,583,15,9,2.92,22,0.273,95.5
"Miller, Bryce",25,21,171,24.3,0.338,59,541,12,8,2.94,18,0.260,94.9
"King, Michael",29,17,201,27.7,0.346,57,521,13,9,2.95,14,0.284,93.3
"Myers, Tobias",25,18,127,22.3,0.387,46,414,9,6,3.00,7,0.297,91.6
"Lugo, Seth",34,16,181,21.7,0.353,69,620,16,9,3.00,22,0.278,91.9
"Steele, Justin",28,12,135,24.3,0.336,46,404,5,5,3.07,11,0.271,91.6
"Martinez, Nick",33,13,116,20.4,0.377,49,427,10,7,3.10,6,0.279,91.2
"Houck, Tanner",28,11,154,20.7,0.320,62,536,9,10,3.12,19,0.276,93.3
"Ragans, Cole",26,15,223,29.3,0.334,65,559,11,9,3.14,21,0.277,94.4
"Flaherty, Jack",28,24,194,29.9,0.388,57,486,13,7,3.17,15,0.288,93.2
"Gilbert, Logan",27,26,220,27.4,0.353,75,626,9,12,3.23,22,0.255,95.5
"Fried, Max",30,13,166,23.2,0.315,63,523,11,10,3.25,16,0.273,93.2
"Taillon, Jameson",32,21,125,18.5,0.387,60,496,12,8,3.27,16,0.289,90.1
"Fedde, Erick",31,20,154,21.2,0.381,65,532,9,9,3.30,13,0.293,91.4
"Lorenzen, Michael",32,17,97,18.1,0.372,48,391,7,6,3.31,9,0.303,93.1
"Ortiz, Luis",25,16,107,19.2,0.372,50,407,7,6,3.32,7,0.287,94.2
"Sánchez, Cristopher",27,11,153,20.3,0.358,67,545,11,9,3.32,17,0.290,94.5
"Wacha, Michael",32,17,145,21.2,0.387,62,500,13,8,3.35,14,0.300,92.5
"Suárez, Ranger",28,14,145,23.2,0.379,58,452,12,8,3.46,11,0.297,90.3
"Webb, Logan",27,11,172,20.5,0.355,79,614,13,10,3.47,20,0.288,92.5

In [125]:

p_2024.sort_values(by='삼진수', ascending=False).head(20)
# 실제 수상 선수 1,2등 예측선수 6등 + 총 경기수 또한 두 선수에 비해 밀림

,나이,홈런횟수,삼진수,삼진비율,장타율,자책점,아웃수,승,패,평균자책점,qs횟수,출루율,직구 평균속도
이름,,,,,,,,,,,,,
"Skubal, Tarik",27,15,228,30.3,0.311,51,576,18,4,2.39,22,0.246,96.8
"Sale, Chris",35,9,225,32.1,0.319,47,533,18,3,2.38,18,0.260,94.7
"Cease, Dylan",28,18,224,29.4,0.332,73,568,14,11,3.47,16,0.266,96.8
"Wheeler, Zack",34,20,224,28.5,0.328,57,600,16,7,2.57,26,0.256,94.5
"Ragans, Cole",26,15,223,29.3,0.334,65,559,11,9,3.14,21,0.277,94.4
"Gilbert, Logan",27,26,220,27.4,0.353,75,626,9,12,3.23,22,0.255,95.5
"Crochet, Garrett",25,18,209,35.1,0.371,58,438,6,12,3.58,11,0.280,95.3
"Kikuchi, Yusei",33,25,206,28.0,0.391,79,527,9,10,4.05,12,0.297,95.5
"Gray, Sonny",34,21,203,30.3,0.401,71,499,13,9,3.84,13,0.292,91.1
"King, Michael",29,17,201,27.7,0.346,57,521,13,9,2.95,14,0.284,93.3
"Peralta, Freddy",28,26,200,27.6,0.387,71,521,11,9,3.68,11,0.305,94.3
"López, Pablo",28,26,198,25.6,0.407,84,556,15,10,4.08,18,0.306,94.9
"Nola, Aaron",31,30,197,24.0,0.421,79,598,14,8,3.57,20,0.310,91.3
"Rodón, Carlos",31,31,195,26.5,0.435,77,525,16,9,3.96,16,0.320,95.2
"Flaherty, Jack",28,24,194,29.9,0.388,57,486,13,7,3.17,15,0.288,93.2
"Ober, Bailey",28,27,191,26.9,0.391,79,536,12,9,3.98,18,0.282,91.7
"Bibee, Tanner",25,22,187,26.3,0.406,67,521,12,8,3.47,12,0.299,91.7
"Pfaadt, Brandon",25,24,185,24.3,0.421,95,545,11,10,4.71,13,0.312,93.8
"Manaea, Sean",32,21,184,24.9,0.338,70,545,12,6,3.47,15,0.275,91.9
"Gore, MacKenzie",25,15,181,24.8,0.398,72,499,10,12,3.90,11,0.324,96.0

In [127]:
#예측 당시 지표

p_2024_old= pd.read_csv('./pitchers_2024.csv')
p_2024_old=p_2024_old[['last_name, first_name', 'player_age', 'home_run', 'strikeout', 'k_percent', 'slg_percent', 'p_earned_run', 
              'p_out', 'p_win', 'p_loss', 'p_era', 'p_quality_start', 'woba', 'fastball_avg_speed']]
p_2024_old.columns=['이름', '나이', '홈런횟수', '삼진수', '삼진비율', '장타율', '자책점', '아웃수', '승', '패', '평균자책점', 
                    'qs횟수', '출루율', '직구 평균속도']
p_2024_old.set_index(keys='이름', inplace=True, drop=True)

p_2024_old.loc[['Skubal, Tarik', 'Sale, Chris', 'Gilbert, Logan']]

,나이,홈런횟수,삼진수,삼진비율,장타율,자책점,아웃수,승,패,평균자책점,qs횟수,출루율,직구 평균속도
이름,,,,,,,,,,,,,
"Skubal, Tarik",27,10,140,30.8,0.315,31,348,10,3,2.41,14,0.243,96.7
"Sale, Chris",35,7,140,32.4,0.312,33,330,13,3,2.70,10,0.252,94.7
"Gilbert, Logan",27,15,124,24.8,0.342,41,397,6,5,2.79,16,0.250,94.9

In [128]:
# 현재 총 지표
p_2024.loc[['Skubal, Tarik', 'Sale, Chris', 'Gilbert, Logan']]

,나이,홈런횟수,삼진수,삼진비율,장타율,자책점,아웃수,승,패,평균자책점,qs횟수,출루율,직구 평균속도
이름,,,,,,,,,,,,,
"Skubal, Tarik",27,15,228,30.3,0.311,51,576,18,4,2.39,22,0.246,96.8
"Sale, Chris",35,9,225,32.1,0.319,47,533,18,3,2.38,18,0.260,94.7
"Gilbert, Logan",27,26,220,27.4,0.353,75,626,9,12,3.23,22,0.255,95.5

In [139]:
DF_award['승']

count     9.000000
mean     11.932660
std       3.980432
min       5.000000
25%       9.393939
50%      13.000000
75%      14.000000
max      18.000000
Name: 승, dtype: float64

#### 비교결과
- 수상 선수에 비해 실점이 늘어남
- 패가 크게 증가함  
=> 평균적인 지표의 우수성도 중요하지만, 승리에 얼마나 기여했는지에 대한 지표또한 중요! (중요한 순간에 얼마나 잘 했는지)

#### 분석결과
- 수상 선수 예측을 실패한 이유  
    1. 결정적인 순간에 대한 성과를 반영하지 못함  
        (단순 경기 수보다 승리에 기여한 횟수인 '승'지표를 기준으로 하는게 예측에 더 도움이 됬을 것)
    2. 예측 당시 남은 경기의 영향을 반영하지 못함

In [1]:
## 코드의 문제점
    #1. 데이터를 하나로 합치치 않음
    #=> 불피요한 코드가 계속 반복되어 가독성이 떨어지고 코드 길이가 증가

In [179]:
import os 
FOLDER_LOC='./pitcher/'
p_folder= os.listdir(FOLDER_LOC)
pitcher_df= pd.read_csv(FOLDER_LOC+p_folder[0])
old_df= pd.read_csv(FOLDER_LOC+p_folder[1])
pitcher_df.columns

Index(['last_name, first_name', 'player_id', 'year', 'player_age', 'p_game',
       'p_formatted_ip', 'home_run', 'k_percent', 'slg_percent',
       'p_earned_run', 'p_win', 'p_loss', 'p_era', 'p_quality_start', 'woba'],
      dtype='object')

In [180]:
# 컬럼 통일
old_df=old_df[pitcher_df.columns]

# 구분을 위한 연도 컬럼 변경
old_df['year']='2024_old'

In [181]:
pitcher_df.head()

,"last_name, first_name",player_id,year,player_age,p_game,p_formatted_ip,home_run,k_percent,slg_percent,p_earned_run,p_win,p_loss,p_era,p_quality_start,woba
0,"Wainwright, Adam",425794,2020,38,10,65.2,9,20.6,0.369,23,5,3,3.15,7,0.277
1,"Greinke, Zack",425844,2020,36,12,67.0,6,24.5,0.405,30,3,3,4.03,5,0.293
2,"Sánchez, Aníbal",434671,2020,36,11,53.0,11,17.6,0.536,39,4,5,6.62,1,0.383
3,"Lester, Jon",452657,2020,36,12,61.0,11,15.8,0.459,35,3,3,5.16,4,0.333
4,"Scherzer, Max",453286,2020,35,12,67.1,10,31.2,0.424,28,5,4,3.74,6,0.319

In [182]:
#데이터프레임 병합
total_df= pd.concat([pitcher_df, old_df], join='outer')
total_df.head()

,"last_name, first_name",player_id,year,player_age,p_game,p_formatted_ip,home_run,k_percent,slg_percent,p_earned_run,p_win,p_loss,p_era,p_quality_start,woba
0,"Wainwright, Adam",425794,2020,38,10,65.2,9,20.6,0.369,23,5,3,3.15,7,0.277
1,"Greinke, Zack",425844,2020,36,12,67.0,6,24.5,0.405,30,3,3,4.03,5,0.293
2,"Sánchez, Aníbal",434671,2020,36,11,53.0,11,17.6,0.536,39,4,5,6.62,1,0.383
3,"Lester, Jon",452657,2020,36,12,61.0,11,15.8,0.459,35,3,3,5.16,4,0.333
4,"Scherzer, Max",453286,2020,35,12,67.1,10,31.2,0.424,28,5,4,3.74,6,0.319

In [183]:
#필요없는 컬럼 제거
total_df.drop(columns='player_id', inplace=True)

#컬럼 명 변경
new_columns=['이름', '연도', '나이', '경기수', '이닝수', '홈런수', '삼진수', '장타율', '자책점',
             '승', '패', '평균자책점', 'qs', '가중출루율']
total_df.columns=new_columns

total_df.to_csv('./2020~2024년_투수데이터.csv', encoding='utf-8-sig')

In [184]:
total_df[total_df['이름']=='Gilbert, Logan']

,이름,연도,나이,경기수,이닝수,홈런수,삼진수,장타율,자책점,승,패,평균자책점,qs,가중출루율
196,"Gilbert, Logan",2021,24,24,119.1,17,25.4,0.425,62,6,5,4.68,6,0.305
297,"Gilbert, Logan",2022,25,32,185.2,19,22.7,0.390,66,13,6,3.20,16,0.299
385,"Gilbert, Logan",2023,26,32,190.2,29,24.5,0.409,79,13,7,3.73,18,0.290
482,"Gilbert, Logan",2024,27,33,208.2,26,27.4,0.353,75,9,12,3.23,22,0.255
62,"Gilbert, Logan",2024_old,27,20,132.1,15,24.8,0.342,41,6,5,2.79,16,0.250

In [185]:
name= ['Skubal, Tarik', 'Sale, Chris', 'Gilbert, Logan']
total_df[total_df['이름']==name[0]]

,이름,연도,나이,경기수,이닝수,홈런수,삼진수,장타율,자책점,승,패,평균자책점,qs,가중출루율
197,"Skubal, Tarik",2021,24,31,149.1,35,25.9,0.476,72,8,12,4.34,8,0.332
483,"Skubal, Tarik",2024,27,31,192.0,15,30.3,0.311,51,18,4,2.39,22,0.246
33,"Skubal, Tarik",2024_old,27,19,116.0,10,30.8,0.315,31,10,3,2.41,14,0.243

In [186]:
total_df[total_df['이름']==name[1]]

,이름,연도,나이,경기수,이닝수,홈런수,삼진수,장타율,자책점,승,패,평균자책점,qs,가중출루율
409,"Sale, Chris",2024,35,29,177.2,9,32.1,0.319,47,18,3,2.38,18,0.260
112,"Sale, Chris",2024_old,35,18,110.0,7,32.4,0.312,33,13,3,2.70,10,0.252

### 새로운 기준을 토대로 2024년 수상 후보 예측하기

In [211]:
a= total_df[total_df['연도']==2024].sort_values(by='이닝수', ascending=False).head(20)
b= total_df[total_df['연도']==2024].sort_values(by='평균자책점').head(20)
c= total_df[total_df['연도']==2024].sort_values(by='승', ascending=False).head(20)
award_pred=pd.concat([a,b,c], axis=1).dropna(axis=0)
award_pred.to_csv('./2024수상예측.csv', encoding='utf-8-sig')
award_pred

,이름,연도,나이,경기수,이닝수,홈런수,삼진수,장타율,자책점,승,...,이닝수,홈런수,삼진수,장타율,자책점,승,패,평균자책점,qs,가중출루율
436,"Lugo, Seth",2024,34.0,33.0,206.2,16.0,21.7,0.353,69.0,16.0,...,206.2,16.0,21.7,0.353,69.0,16.0,9.0,3.00,22.0,0.278
417,"Wheeler, Zack",2024,34.0,32.0,200.0,20.0,28.5,0.328,57.0,16.0,...,200.0,20.0,28.5,0.328,57.0,16.0,7.0,2.57,26.0,0.256
481,"Burnes, Corbin",2024,29.0,32.0,194.1,22.0,23.1,0.347,63.0,15.0,...,194.1,22.0,23.1,0.347,63.0,15.0,9.0,2.92,22.0,0.273
483,"Skubal, Tarik",2024,27.0,31.0,192.0,15.0,30.3,0.311,51.0,18.0,...,192.0,15.0,30.3,0.311,51.0,18.0,4.0,2.39,22.0,0.246