In [148]:
import kagglehub

In [149]:
path = kagglehub.dataset_download("paramaggarwal/fashion-product-images-dataset")

print("./", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
./ C:\Users\KDP-25\.cache\kagglehub\datasets\paramaggarwal\fashion-product-images-dataset\versions\1

In [150]:
path

'C:\\Users\\KDP-25\\.cache\\kagglehub\\datasets\\paramaggarwal\\fashion-product-images-dataset\\versions\\1'

In [151]:
import pandas as pd

In [152]:
img=pd.read_csv('images.csv')
category=pd.read_csv('styles.csv')

In [153]:
type(img['filename'][0])

str

In [154]:
id=[]
for i in img['filename']:
    a=i.replace('.jpg', '')
    id.append(a)
img['id']=id

In [155]:
img.head(3)

    filename                                               link     id
0  15970.jpg  http://assets.myntassets.com/v1/images/style/p...  15970
1  39386.jpg  http://assets.myntassets.com/v1/images/style/p...  39386
2  59263.jpg  http://assets.myntassets.com/v1/images/style/p...  59263

In [156]:
img.info(), category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44446 entries, 0 to 44445
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  44446 non-null  object
 1   link      44446 non-null  object
 2   id        44446 non-null  object
dtypes: object(3)
memory usage: 1.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44446 entries, 0 to 44445
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  44446 non-null  int64
 1   gender              44446 non-null  object
 2   masterCategory      44446 non-null  object
 3   subCategory         44446 non-null  object
 4   articleType         44446 non-null  object
 5   baseColour          44431 non-null  object
 6   season              44425 non-null  object
 7   year                44445 non-null  float64
 8   usage               44129 non-null  object
 9   productDisplayName  44439 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.4+ MB

(None, None)

In [157]:
fashionDF= pd.concat([img, category], axis=1)

In [182]:
a=fashionDF['subCategory'].unique()
a=list(a)
a.pop(1)
a

['Topwear',
 'Watches',
 'Socks',
 'Shoes',
 'Belts',
 'Flip Flops',
 'Bags',
 'Innerwear',
 'Sandal',
 'Shoe Accessories',
 'Fragrance',
 'Jewellery',
 'Lips',
 'Saree',
 'Eyewear',
 'Nails',
 'Scarves',
 'Dress',
 'Loungewear and Nightwear',
 'Wallets',
 'Apparel Set',
 'Headwear',
 'Mufflers',
 'Skin Care',
 'Makeup',
 'Free Gifts',
 'Ties',
 'Accessories',
 'Skin',
 'Beauty Accessories',
 'Water Bottle',
 'Eyes',
 'Bath and Body',
 'Gloves',
 'Sports Accessories',
 'Cufflinks',
 'Sports Equipment',
 'Stoles',
 'Hair',
 'Perfumes',
 'Home Furnishing',
 'Umbrellas',
 'Wristbands',
 'Vouchers']

In [162]:
fashionDF=fashionDF[['filename', 'link', 'subCategory']]

In [163]:
fashionDF.head(10)

    filename                                               link subCategory
0  15970.jpg  http://assets.myntassets.com/v1/images/style/p...     Topwear
1  39386.jpg  http://assets.myntassets.com/v1/images/style/p...  Bottomwear
2  59263.jpg  http://assets.myntassets.com/v1/images/style/p...     Watches
3  21379.jpg  http://assets.myntassets.com/v1/images/style/p...  Bottomwear
4  53759.jpg  http://assets.myntassets.com/v1/images/style/p...     Topwear
5   1855.jpg  http://assets.myntassets.com/v1/images/style/p...     Topwear
6  30805.jpg  http://assets.myntassets.com/v1/images/style/p...     Topwear
7  26960.jpg  http://assets.myntassets.com/v1/images/style/p...     Topwear
8  29114.jpg  http://assets.myntassets.com/v1/images/style/p...       Socks
9  30039.jpg  http://assets.myntassets.com/v1/images/style/p...     Watches

In [165]:
id=[]
for i in img['filename']:
    a=i.replace('.jpg', '')
    id.append(a)
fashionDF['id']=id

In [170]:
fashionDF=fashionDF.drop(columns='filename')

In [171]:
fashionDF.to_csv('fashionDF.csv', index=False)